{% extends "layouts/base.njk" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    classes: "govuk-!-display-none-print",
    items: breadcrumbItems
  }) if showBreadcrumbs }}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    
    {% if photo %}

    {% for item in photo %}
      <img src="{{ item.link }}" alt="{{ item.alt }}" style="max-width:150; width: 100%; height:100%">
    {% endfor %}
    
    {% else %}
      <img src="https://www.svgrepo.com/download/509848/circled-user.svg" alt="Default User Icon" style="max-width:150px; width: 100%; height:100%">
    {% endif %}


  </div>
    <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl" style="margin-bottom:0px">{{title}}</h1>
  <span class="govuk-caption-l">{{description}}</span>
  <span class="govuk-caption-l">{{bio}}</span>
  <br>
  <span class="govuk-caption-m">Last Updated: {{ page.date.toDateString()}}</span>
  </div>
</div>

<hr>

<div class="govuk-grid-row">

{# Conditions I like to work in #}
{% if Conditions %}
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Conditions I like to work in</h2>
    <ul class="govuk-list govuk-list--bullet">   
    {% for item in Conditions%}
      <li>{{ item }}
    {% endfor %}
    </ul>
  </div>
{% endif %}

{# Times / hours I like to work #}
{% if Time %}
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Times / hours I like to work</h2>
    <ul class="govuk-list govuk-list--bullet">   
    {% for item in Time%}
      <li>{{ item }}
    {% endfor %}
    </ul>
  </div>
{% endif %}

{# Best ways to communicate with me #}
{% if Communicate %}
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Best ways to communicate with me</h2>
    <ul class="govuk-list govuk-list--bullet">   
    {% for item in Communicate%}
      <li>{{ item }}
    {% endfor %}
    </ul>
  </div>
{% endif %}

{# How I best receive feedback #}
{% if Feedback %}
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">How I best receive feedback</h2>
    <ul class="govuk-list govuk-list--bullet">   
    {% for item in Feedback%}
      <li>{{ item }}
    {% endfor %}
    </ul>
  </div>
{% endif %}

{# Things I need #}
{% if Need %}
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Things I need</h2>
    <ul class="govuk-list govuk-list--bullet">   
    {% for item in Need%}
      <li>{{ item }}
    {% endfor %}
    </ul>
  </div>
{% endif %}

{# How I learn best #}
{% if Learn %}
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">How I learn best</h2>
    <ul class="govuk-list govuk-list--bullet">   
    {% for item in Learn%}
      <li>{{ item }}
    {% endfor %}
    </ul>
  </div>
{% endif %}

{# Things I struggle with #}
{% if Struggle %}
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Things I struggle with</h2>
    <ul class="govuk-list govuk-list--bullet">   
    {% for item in Struggle%}
      <li>{{ item }}
    {% endfor %}
    </ul>
  </div>
{% endif %}

{# Things I love #}
{% if Love %}
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Things I love</h2>
    <ul class="govuk-list govuk-list--bullet">   
    {% for item in Love %}
      <li>{{ item }}
    {% endfor %}
    </ul>
  </div>
{% endif %}

{# Other things to know about me #}
{% if Other %}
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">Other things to know about me</h2>
    <ul class="govuk-list govuk-list--bullet">   
    {% for item in Other %}
      <li>{{ item }}
    {% endfor %}
    </ul>
  </div>
{% endif %}

{# If I were an animated gif/meme, I would be... #}
{% if Gif %}
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m">If I were an animated gif/meme, I would be...</h2>
    
    {% for item in Gif %}
      <img src="{{ item.link }}" alt="{{ item.alt }}" style="width: 100%">
    {% endfor %}

  </div>
{% endif %}





</div>








  {{ appProseScope(content) if content }}

  {% include "layouts/shared/related.njk" %}
{% endblock %}
